# Python artifacts
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
build/
dist/
.eggs/

# Environments
.venv/
env/
venv/
ENV/

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# Generated Pipeline Output
output/

tests/